# Special order section for helping pip:
will-not-work-on-windows-try-from-wsl-instead; platform_system=='Windows'
ansible-lint
GitPython
giturlparse
sarif-tools
sage@git+ssh://git@github.ibm.com/ansible-risk-insight/sage.git
