# Special order section for helping pip:
will-not-work-on-windows-try-from-wsl-instead; platform_system=='Windows'
ansible-lint==24.10.0
ansible-compat==24.10.0
GitPython
giturlparse
sarif-tools
sage-scan>=0.0.4
ansible-risk-insight>=0.2.9
black==24.4.2
pygit2
